 .container {
   max-width: 50rem;
   background-color: rgba(0, 0, 0, 0.6);
   font-size: 1.2rem;
   display: flex;
   margin: 3rem;
   padding: 1rem;
   text-align: center;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .header {
  font-size: 2rem;
 }


 /* media queries */
 @media only screen and (max-width: 1328px) {

 }

 @media only screen and (min-width: 665px) and (max-width: 781px) {
   .header {
     font-size: 2rem;
   }
 }

 @media only screen and (max-width: 664px) {
   .header {
     font-size: 1.5rem;
   }
   .leftContainer {
     font-size: 1.2rem;
   }
 }

 @media only screen and (max-width: 1200px)  {
   .container {
     margin-bottom: 4rem;
   }
 }
