.container {
  max-width: 50rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  display: flex;
  margin: 3rem;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
 font-size: 2rem;
}

@media only screen and (min-width: 695px) and (max-width: 883px) {
  .container {
    max-width: 40rem;
  }
  .header {
   font-size: 1.5rem;
  }

}

@media only screen and (max-width: 694px) {
  .container {
    max-width: 35rem;
  }
  .header {
   font-size: 1.3rem;
  }

}
