.container {
  background-color: black;
  min-height: 90.3vh;
  background-size: cover;
  background-position: center;
}

.main  {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
