.container {
  max-width: 30rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  display: flex;
  margin: 3rem;
  padding: .5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container a {
  text-decoration: none;
}

.image {
  object-fit: cover;
  max-width:15rem
}

.imageBg {
  background: white;
  padding: 1rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}


@media only screen and (max-width: 351px) {
  .image {
    width: 10rem;
  }
}

@media only screen and (max-width: 1200px)  {
  .container {
    margin-bottom: 4rem;
  }
}
